body{
    font-family:sans-serif ;
    
}
header{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #fcd7d3;
    /* background-image:url('images/bg-header.png');
    
    background-repeat: no-repeat; */
    max-width: 1920px;
    
}
.make-flower{
    padding: 150px;
}
.heading-title{
    font-size: 70px;
    font-weight: 800;
}
.heading-description{
    font-size: 18px;
    font-weight: 400;
    padding: 20px 0;
}
.shop-now-btn{
    background-color:#E55473 ;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 15px;
    border: 0;
    border-radius: 5px;
}
.make-flower img{
    padding-bottom: 0;
}
.featured-flower{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;
}
.featured-flower h1{
    font-size: 40px;
    font-weight: 800;
}
.featured-flower p{
    font-size: 18px;
    font-weight: 400;
    
}

.flowers{
    max-width: 1440px;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    
}
.flowers-template{
    text-align: center;
}
.flowers-template-first{
    background-color:#FFD4CF;
    border-top-right-radius:50%;
    border-top-left-radius: 50%;
}
.flowers-template-first img{
    width: 200px;
    padding:30px 25px 0 25px;
    
}
.flowers-template-second{
    background-color:#8becf3;
    border-top-right-radius:50%;
    border-top-left-radius: 50%;
}
.flowers-template-second img{
    width: 200px;
    height: 280px;
    padding:30px 25px 0 25px;
    
}
.flowers-template-third{
    background-color:#BEE49D;
    border-top-right-radius:50%;
    border-top-left-radius: 50%;
}
.flowers-template-third img{
    width: 200px;
    height: 280px;
    padding:30px 25px 0 25px;
    
}
.flowers h1{
    font-size: 24px;
    font-weight: 700;
}
.flower-service{
    max-width: 1440px;
    margin: auto;
    background-color:#e6e4e4 ;
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
}
.service-content{
    margin: 30px;
}
.service-content h4{
    font-size: 24px;
    font-weight: 600;
}
.hot-deal{
    background-color:#f8eff1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    text-align: center;
}
.hot-deal-left{
    width: 50%;
    margin: 40px 10px;
    padding-left: 30px ;
}
.hot-deal-right{
    width: 40%;
    margin: 50px 10px;
}
.hot-deal-title{
    font-size: 40px;
    font-weight: 800;
}
.hot-deal-title span{
    color: #E55473;

}
.hot-deal-description{
    font-size: 18px;
    font-weight: 400;
    color: gray;
}
.image-item{
    display: flex;
    gap: 22px;
    max-width: 1440px;
    margin:60px auto;
}
.latest-deals{
    max-width: 1440px;
    margin:60px auto;
    background-image: url('images/bg-footer.png');

    background-repeat: no-repeat;
}
.search{
    
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.search button{
    margin-bottom: 50px;
    padding: 10px;
}
.search input{
    font-size: 18px;
    padding: 10px;
    border: 0;
    margin-bottom: 50px;
    padding-right: 150px;
    border-radius: 5px;
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px 0;
}
.footer-title{
    font-size:48px;
    font-weight: 800;
}
.footer-title span{
    color: #E55473;
}
.footer-description{
    font-size: 18px;
    font-weight: 400;
}
footer p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(95, 91, 91);
}